.head-img {
	position: relative;
	width: 1270px;
	height: 695px;
	margin-bottom: 50px;
	z-index: -1;
}

.title {
	color: white;
	position: absolute;
	top: 390px;
	font-size: 120px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: -8px;
	z-index: 1;
	text-shadow: 3px 1px #000000;	
}

.dec {
	color: white;
	position: absolute;
	top: 600px;
	font-size: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	z-index: 2;
	text-shadow: 3px 1px #000000;
}